<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>YO Search!</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
  </head>
  <body>
    <div>
      <header>
        <h2>Search</h2>
      </header>
      <form action="." method="get">
        <div class="ui input">
          <input
            placeholder="Search..."
            name="searchTerm"
            value="<%- searchTerm %>"
          />
        </div>
        <button class="ui primary button" type="submit">Search</button>
      </form>
      <div>Your search term was (escaped): <%= searchTerm %></div>
      <div>Your search term was (unescaped): <%- searchTerm %></div>
    </div>
  </body>
</html>
